<div class="home view">
    <div class="container">
    	<a id="logout-link" ng-href="logout()">logout</a>
        <header>
            <h3>Home</h3>
        </header>
        {{hello}}
        <table>
        	<tr>
        		<td><a href="#/stores">Filial Radar</a></td>
        		<td>&nbsp;&nbsp;&nbsp;</td>
        		<td><a href="#/productSearch">Artikel Suche</a></td>
        	</tr>
        	<tr>
        		<td><a href="#/storeOffers">Filial Angebote</a></td>
        		<td>&nbsp;&nbsp;&nbsp;</td>
        		<td><a href="#/myOmozon">Mein Omozon</a></td>
        	</tr>
        	<tr>
        		<td><a href="#/shop">Online Shop</a></td>
        		<td>&nbsp;&nbsp;&nbsp;</td>
        		<td></td>
        	</tr>
        </table>
	</div>
</div>