<div class="home view">
    <div class="container">
    <a href="javascript:history.back();">back</a>
        <header>
            <h3>My Omozon</h3>
        </header>
        <table>
        	<tr><td><a href="#/myOmozon/stores">Meine Filialen</a></td></tr>
        	<tr><td><a href="#/myOmozon/profile">Mein Profil</a></td></tr>
        	<tr><td><a href="#/myOmozon/purchases">Meine KŠufe</a></td></tr>
        	<tr><td><a href="#/myOmozon/wishlist">Meine Wunschzettel</a></td></tr>
        	<tr><td><a href="#/myOmozon/wallet">Meine Geldbšrse</a></td></tr>
        </table>
	</div>
</div>